
<div class="container">
  <div class="row">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User Name</label>
        <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="username">
        <div *ngIf="userForm.get('username')?.invalid && (userForm.get('username')?.dirty || userForm.get('username')?.touched)">
          <div *ngIf="userForm.get('username')?.hasError('required')">Username không để trống!</div>
          <div *ngIf="userForm.get('username')?.hasError('minlength')">Username tối thiểu 3 ký tự</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
        <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)">
          <div *ngIf="userForm.get('email')?.hasError('required')">Email không được để trống!</div>
          <div *ngIf="userForm.get('email')?.hasError('email')">Email không hợp lệ</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
        <div *ngIf="userForm.get('password')?.invalid && (userForm.get('password')?.dirty || userForm.get('password')?.touched)">
          <div *ngIf="userForm.get('password')?.hasError('required')">Password không được để trống</div>
          <div *ngIf="userForm.get('password')?.hasError('minlength')">Password tối thiểu 6 ký tự</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword" id="exampleInputPassword1">
        <div *ngIf="userForm.get('confirmPassword')?.invalid && (userForm.get('confirmPassword')?.dirty || userForm.get('confirmPassword')?.touched)">
          <div *ngIf="userForm.get('confirmPassword')?.hasError('required')">Confirm Password không được để trống</div>
          <div *ngIf="userForm.hasError('passwordMismatch')">Password and Confirm Password không khớp nhau</div>
        </div>
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
    </form>
  </div>
</div>