<div class="container">
    <div class="row">
      <form class="form" [formGroup]="userForm" (ngSubmit)="onHandleChangePassword()">
        <p class="title">Change Password</p>
        <p class="message">You can change your password now and i will help you</p>
        <label>
          <input required placeholder="" type="email" class="input" name="email" formControlName="email">
          <span>Email</span>
          <div *ngIf="formControls['email'].errors && (formControls['email'].dirty || formControls['email'].touched)">
            <div class="fw-bold text-danger" *ngIf="formControls['email'].errors?.['required']">
              Email không để trống
            </div>
            <div class="fw-bold text-danger" *ngIf="formControls['email'].errors?.['email']">
              Email không hợp lệ
            </div>
          </div>
        </label>
  
        <label>
          <input required placeholder="" type="password" class="input" name="password" formControlName="password">
          <span>Password</span>
          <div *ngIf="formControls['password'].errors && (formControls['password'].dirty || formControls['password'].touched)">
            <div class="text-danger fw-bold" *ngIf="formControls['password'].errors?.['required']">
              Password không để trống
            </div>
            <div class="text-danger fw-bold" *ngIf="formControls['password'].errors?.['minlength']">
              Password tối thiểu 8 ký tự
            </div>
            <div class="text-danger fw-bold" *ngIf="formControls['password'].errors?.['pattern']">
              Password phải chứa 1 chữ hoa đầu,chữ thường,số và 1 ký tự đặc biệt
            </div>
          </div>
        </label>
  
        <label>
          <input required placeholder="" type="password" class="input" name="newPassword" formControlName="newPassword">
          <span>New Password</span>
          <div *ngIf="formControls['newPassword'].errors && (formControls['newPassword'].dirty || formControls['newPassword'].touched)">
            <div class="text-danger fw-bold" *ngIf="formControls['newPassword'].errors?.['required']">
              New password không để trống
            </div>
            <div class="text-danger fw-bold" *ngIf="formControls['newPassword'].errors?.['minlength']">
              New password tối thiểu 8 ký tự
            </div>
            <div class="text-danger fw-bold" *ngIf="formControls['newPassword'].errors?.['pattern']">
              New password phải chứa 1 chữ hoa đầu,chữ thường,số và 1 ký tự đặc biệt
            </div>
          </div>
        </label>
        <button class="submit" type="submit">Submit</button>
      </form>
    </div>
  </div>
  