<header>
    <div class="banner-header">
        <div class="container">
            <div class="menu-section-top">
                <div class="row">
                    <div class="col-12">
                        <div class="custom-menu">
                            <ul class="d-flex justify-content-center pt-2">
                              <li><a routerLink="/">Best Sellers</a></li>
                              <li><a routerLink="/">Gift Ideas</a></li>
                              <li><a routerLink="/">New Releases</a></li>
                              <li><a routerLink="/">Today's Deals</a></li>
                              <li><a routerLink="/">Customer Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo-header text-center mt-5 mb-4">
                <img src="../../../assets/images/logo.png" alt="">
            </div>

            <div class="header-section d-flex">
              <div class="sidenav" [ngClass]="{'open': isMenuOpen}">
                <div class="menu-header">
                  
                  <span *ngIf="isMenuOpen" class="close-icon d-flex justify-content-end" (click)="toggleMenu()">
                    <i class="fa-solid fa-xmark"></i>
                  </span>
                </div>
                <div class="menu-content">
                  <!-- Nội dung của menu -->
                  <a routerLink="">Home</a>
                  <a routerLink="">Fashion</a>
                  <a routerLink="">Electronic</a>
                  <a routerLink="/about">About</a>
                </div>
              </div>
              <span id="nav" (click)="toggleMenu()">
                <p><img src="../../../assets/images/toggle-icon.png" alt=""></p>
              </span>
                
                <select  class="form-select" style="width: 12%;background-color: #2b2a29;color: white;" >
                  <option selected>Open this select menu</option>
                  <option *ngFor="let cate of category" value="{{cate._id}}">{{cate.name}}</option>
                </select>
                <form class="d-flex" style="width: 50%;" (ngSubmit)="onSubmit()">
                  <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchKeyword" name="search" />
                    <button style="width: 10%;" type="submit" class="btn btn-outline">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                  </div>
                </form>

                <div class="nation" style="background-color: #ffff;margin-left: 30px;">
                  
                    <div>
                      <img style="margin-left: 5px;" src="../../../assets/images/flag-uk.png" alt="">
                      <select name="" id="" style="border: none;">
                        <option value="">English</option>
                      </select>
                    </div>
                </div>

                <div class="cart d-flex mt-2">
                  <a routerLink="/cart">
                    <i style="font-size: 13px; color: white; position: relative;" class="fa-solid fa-cart-shopping">
                      <span class="cart-count">
                        {{ cartProducts.length > 0 ? cartProducts.length : '0' }}
                      </span>
                    </i>
                    <span style="font-size: 13px; color: white;">CART</span>
                  </a>
                </div>
                <div class="login d-flex mt-2">
                  <ng-container *ngIf="isLoggedIn; else showLogin">
                    <i style="font-size: 13px; color: white; margin-top: 5px;margin-left: 5px;" class="fa fa-user"></i>
                    <span style="font-size: 14px; color: white; margin-right: 5px; margin-left: 5px;margin-top: 2px;">Hi,{{ getUsername() }}</span>
                    <i style="font-size: 13px; color: white;margin-top: 5px" class="fa fa-sign-out" (click)="logout()"></i>
                  </ng-container>
                  <ng-template #showLogin>
                    <a routerLink="/signin">
                      <i style="font-size: 13px; color: white;" class="fa fa-user"></i>
                      <span style="font-size: 14px; color: white;">LOGIN</span>
                    </a>
                  </ng-template>
                </div>
                
            </div>

            <!-- SideShow -->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner" style="top: 20%;left: 0;">
                <div class="carousel-item active">
                  <h1 class="text-center text-white">GET START</h1><br>
                  <h1 class="text-center text-white">YOUR FAVRIOT SHOPING</h1>
                  <div class="btn-buy-now d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary">BUY NOW</button>
                  </div>
                </div>
                <div class="carousel-item">
                  <h1 class="text-center text-white">GET START</h1><br>
                  <h1 class="text-center text-white">YOUR FAVRIOT SHOPING</h1>
                  <div class="btn-buy-now d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary">BUY NOW</button>
                  </div>
                </div>
                <div class="carousel-item">
                  <h1 class="text-center text-white">GET START</h1><br>
                  <h1 class="text-center text-white">YOUR FAVRIOT SHOPING</h1>
                  <div class="btn-buy-now d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary">BUY NOW</button>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!--End SideShow -->
        </div>
    </div>
</header>