<div class="container">
    <div>
        <h1 class="fashion_taital">Man & Woman Fashion</h1>
    </div>
    <div class="row fashion-box" *ngIf="filteredProducts && filteredProducts.length > 0; else blockData">
      <div class="col-4-3" >
        <div class="box_main" *ngFor="let product of filteredProducts">
          <h4 class="shirt_text">{{product.name}}</h4>
          <p class="price_text">
            Price <span style="color: #262626">{{product.price}}</span>
          </p>
          <div class="tshirt_img">
            <img src="{{product.imgUrl}}" width="90%"/>
          </div>
          <div class="btn_main">
            <div class="buy_bt">
              <h2 (click)="addProductToCart(product._id)">Buy Now</h2>
            </div>
                                
            <div class="seemore_bt"><a href="#">See More</a></div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #blockData>
        <h1>Khong co du lieu</h1>
    </ng-template>
  
    <div class="d-flex justify-content-end" style="margin-top: 50px;margin-bottom: 50px;margin-right: 20px;">
      <!-- nút chuyển trang -->
      <div class="mt-4 d-flex justify-content-end" style="margin-left: 12px;margin-bottom: 30px;">
        <a (click)="pre()" style="font-size: 20px;cursor: pointer;">
          <i class="fa-solid fa-square-caret-left"></i>
        </a>
        <a class="pe-auto" href="" style="font-size: 16px;margin-left: 10px;margin-right: 10px; color: black;margin-top: 3px;">
          {{currentPage}}
        </a>
        <a (click)="nextPage()" style="font-size: 20px;cursor: pointer;">
          <i class="fa-solid fa-square-caret-right"></i>
        </a>
      </div>


    </div>

</div>
