<div class="container">
    <div class="title text-center font-weight-bold">
        <h1>Man & Woman Fashion</h1>
    </div>
    <div class="row" *ngIf="products && products.length>0; else blockData">
        <div class="card" style="width: 22rem;margin-right: 28px;margin-bottom: 25px;" *ngFor="let product of products">
            <img src="{{ product.imgUrl }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <h3>{{product.price}}</h3>
              <p class="card-text">{{product.description}}</p>
              <a routerLink="/product/{{product._id}}" class="btn btn-primary">View Product</a>
            </div>
          </div>
    </div>
    <ng-template #blockData>
        <h1>Khong co du lieu</h1>
    </ng-template>
  
    <div class="d-flex justify-content-end" style="margin-top: 50px;margin-bottom: 50px;margin-right: 20px;">
      <!-- nút chuyển trang -->
      <div>
        <th type="submit" class="border border-dark" *ngIf="currentPage > 1" (click)="onPreviousPage()">trước</th>
        <th type="button" class="border border-dark" *ngIf="currentPage < totalPages" (click)="onNextPage()">Sau</th>
      </div>

        <!-- Pagination component -->
      <app-pagination 
        [currentPage]="currentPage" 
        [totalPages]="totalPages" 
        (pageChanged)="onPageChanged($event)">
      </app-pagination>

    </div>

</div>
