<div class="container">
    <div class="row">
      <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <p class="title">Forgot Password</p>
        <p class="message">Forgot your password now and I will assist you.</p>
        <label>
          <input required="" placeholder="" type="email" class="input" name="email" formControlName="email">
          <span>Email</span>
          <div *ngIf="formControls['email'].errors && (formControls['email'].dirty || formControls['email'].touched)">
            <div class="fw-bold text-danger" *ngIf="formControls['email'].errors?.['required']">
              Email không để trống
            </div>
            <div class="fw-bold text-danger" *ngIf="formControls['email'].errors?.['email']">
              Email không hợp lệ
            </div>
          </div>
        </label>
        <button class="submit" type="submit">Submit</button>
      </form>
    </div>
  </div>
  
